

.Rectangle1 {
  position: absolute;
  width: 620px;
  height: 249px;
  left: 201px;
  top: 62px;
  
  background: #FFFFFF;
  border: 1px solid #E7E7E8;
  box-sizing: border-box;

}


.TabLayout{
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around; 
  width: 580px;
  height: 20px;
}

